@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background: linear-gradient(135deg, white 0%, white 80%, #faf0dd 90%, #f8edd9 100%);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, questrial, serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Product Details for Image Slider */
.image-slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden; /* Prevent overflow issues */
}

.image-slider-container .slick-slide {
  display: flex;
  justify-content: center; /* Center images in slider */
}

.thumbnails {
  display: flex;
  justify-content: center; /* Center thumbnails */
  flex-wrap: wrap; /* Wrap thumbnails if necessary */
}

.thumbnail-wrapper {
  margin: 0 4px; /* Add space between thumbnails */
}

@media (max-width: 768px) {
  .thumbnail-wrapper img {
    width: 40px; /* Adjust thumbnail size for mobile */
    height: 40px;
  }
}
